src/nodered/data/flows.json
[
    {
        "id": "51b93144aa17da42",
        "type": "tab",
        "label": "mosquitto-mqtt",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "4ddab131d0aa03b7",
        "type": "tab",
        "label": "ttn-mqtt-to-mongodb",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "538450966493d319",
        "type": "tab",
        "label": "rest-web-api",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "340899c6.d3b816",
        "type": "tab",
        "label": "eg.: Airkey API Test",
        "disabled": true,
        "info": ""
    },
    {
        "id": "1b74f3faa1d61e81",
        "type": "tab",
        "label": "eg.: web page and socket",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "7e3ea74ffe02df56",
        "type": "tab",
        "label": "weather-station",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "25e707b9e505301b",
        "type": "tab",
        "label": "sis-form",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9727c038192957b1",
        "type": "tab",
        "label": "ttn-flwsb",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d03d06af82d1718e",
        "type": "tab",
        "label": "ttn-sis-flwsb",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b227e0fee3f5b4d0",
        "type": "tab",
        "label": "weather-station-sis",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a1ef9f4c4972c91",
        "type": "tab",
        "label": "weather-station",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "c49ca540c92aa535",
        "type": "tab",
        "label": "mqtt-logging",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fbd418f980fe56b6",
        "type": "mqtt-broker",
        "name": "TTN Node-RED",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e4102cbc620b75cf",
        "type": "mongodb",
        "hostname": "mongodb",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "flwsb",
        "name": "baavend-db"
    },
    {
        "id": "d53b76223f0a289b",
        "type": "mqtt-broker",
        "name": "Tamm Testing",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b94939c85db08c04",
        "type": "mqtt-broker",
        "name": "Zanzibar",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6bb176ae02eba776",
        "type": "mqtt-broker",
        "name": "baavend-mqtt",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c589162d2aafde08",
        "type": "mqtt-broker",
        "name": "FLWSB",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bba2cc5f.445d3",
        "type": "mongodb",
        "hostname": "127.13.155.130",
        "port": "27017",
        "db": "sb",
        "name": "sb"
    },
    {
        "id": "985ecbc7.67a138",
        "type": "websocket-listener",
        "z": "538450966493d319",
        "path": "/ws/simple",
        "wholemsg": "false"
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "562ec1085cc9dbf1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f8d7a87b47e3f24c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "baavend-db",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "aaa2721ca65b0a63",
        "type": "ui_group",
        "name": "Forms Example",
        "tab": "5b82555c92bf296d",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "231c30d72c3dd8e9",
        "type": "ui_group",
        "name": "Form",
        "tab": "5b82555c92bf296d",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "5b82555c92bf296d",
        "type": "ui_tab",
        "name": "Forms Example ",
        "icon": "home",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "02f28d541d932384",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "886221706737a3e1",
        "type": "ui_tab",
        "name": "[SIS] Sensor Identification System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7b635a347ea0d3df",
        "type": "ui_group",
        "name": "Board Registration",
        "tab": "886221706737a3e1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c83ea62b28f11e0",
        "type": "ui_group",
        "name": "Sensor Registration",
        "tab": "886221706737a3e1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ab28e27ed395c91",
        "type": "ui_group",
        "name": "Sensor Identification System",
        "tab": "886221706737a3e1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1937d022fe7753c7",
        "type": "ui_group",
        "name": "Weather Station Registration",
        "tab": "886221706737a3e1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54e936773e36ed87",
        "type": "mqtt out",
        "z": "51b93144aa17da42",
        "name": "",
        "topic": "/testTopic",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bb176ae02eba776",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "33c891fe54226419",
        "type": "inject",
        "z": "51b93144aa17da42",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "8059237e966aec2f"
            ]
        ]
    },
    {
        "id": "8059237e966aec2f",
        "type": "function",
        "z": "51b93144aa17da42",
        "name": "",
        "func": "return {\n  \"payload\": {\n    \"downlinks\": [{\n      \"f_port\": 15,\n      \"frm_payload\": msg.payload.toString(\"base64\"),\n      \"priority\": \"NORMAL\"\n    }]\n  }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "54e936773e36ed87",
                "b937ff65d0d054d6"
            ]
        ]
    },
    {
        "id": "b937ff65d0d054d6",
        "type": "debug",
        "z": "51b93144aa17da42",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "d58c01d8852cf041",
        "type": "mqtt in",
        "z": "51b93144aa17da42",
        "name": "",
        "topic": "/testTopic",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6bb176ae02eba776",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "494fdfbb0220b018"
            ]
        ]
    },
    {
        "id": "494fdfbb0220b018",
        "type": "debug",
        "z": "51b93144aa17da42",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "8de286cb81916356",
        "type": "mqtt in",
        "z": "4ddab131d0aa03b7",
        "name": "flwsb test up",
        "topic": "v3/flwsb@ttn/devices/device-test/up",
        "qos": "2",
        "datatype": "json",
        "broker": "c589162d2aafde08",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "f9044be7388e6b3e",
                "bfb46609060d5623",
                "d8bfd801f0065d09"
            ]
        ]
    },
    {
        "id": "f9044be7388e6b3e",
        "type": "debug",
        "z": "4ddab131d0aa03b7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "bfb46609060d5623",
        "type": "debug",
        "z": "4ddab131d0aa03b7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.uplink_message.locations.frm-payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "d8bfd801f0065d09",
        "type": "function",
        "z": "4ddab131d0aa03b7",
        "name": "Data Formatting",
        "func": "/*var data = \n{\n    id: msg.payload.end_device_ids.device_id,\n\tname: \"Node 1\",\n\tdatetime: msg.payload.received_at,\n\tlatitude: msg.payload.uplink_message.locations[\"frm-payload\"].latitude,\n\tlongitude: msg.payload.uplink_message.locations[\"frm-payload\"].longitude\n}\ndata = Object.assign(data, msg.payload.uplink_message.decoded_payload);\n\nmsg = data;*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "a29284a856817f3d",
                "f5c8659895b0ec22"
            ]
        ]
    },
    {
        "id": "a29284a856817f3d",
        "type": "debug",
        "z": "4ddab131d0aa03b7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "f5c8659895b0ec22",
        "type": "mongodb out",
        "z": "4ddab131d0aa03b7",
        "mongodb": "e4102cbc620b75cf",
        "name": "",
        "collection": "ttn-test",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "f0a7965a26eee036",
        "type": "inject",
        "z": "4ddab131d0aa03b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "6646ea379fcc04ae"
            ]
        ]
    },
    {
        "id": "6646ea379fcc04ae",
        "type": "mongodb out",
        "z": "4ddab131d0aa03b7",
        "mongodb": "e4102cbc620b75cf",
        "name": "",
        "collection": "inject-test",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "48fe0e1fd0fdcc44",
        "type": "http in",
        "z": "538450966493d319",
        "name": "",
        "url": "/flwsb-api/v1/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "f96a2e6ce7e734c5",
                "46dba0479947ec39"
            ]
        ]
    },
    {
        "id": "f96a2e6ce7e734c5",
        "type": "function",
        "z": "538450966493d319",
        "name": "",
        "func": "//msg.statusCode = \"200\"\nmsg.payload = \"Test connection succes\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            [
                "eaaa8fd25aef9632",
                "42b87342b0b95382"
            ]
        ]
    },
    {
        "id": "eaaa8fd25aef9632",
        "type": "http response",
        "z": "538450966493d319",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "42b87342b0b95382",
        "type": "debug",
        "z": "538450966493d319",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "699168d391b036d4",
        "type": "http in",
        "z": "538450966493d319",
        "name": "",
        "url": "/flwsb-api/v1/search",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "59b14e4f4619a1ee"
            ]
        ]
    },
    {
        "id": "59b14e4f4619a1ee",
        "type": "mongodb in",
        "z": "538450966493d319",
        "mongodb": "e4102cbc620b75cf",
        "name": "",
        "collection": "inject-test",
        "operation": "find",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "d9cd58ec19d3d3a0"
            ]
        ]
    },
    {
        "id": "d9cd58ec19d3d3a0",
        "type": "function",
        "z": "538450966493d319",
        "name": "",
        "func": "/*var data = msg.payload\nvar latest = msg.payload[data.length-1]\nmsg.payload = latest*/\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 280,
        "wires": [
            [
                "b323ff7d22c8a27e",
                "d76820b10e59c45f"
            ]
        ]
    },
    {
        "id": "b323ff7d22c8a27e",
        "type": "http response",
        "z": "538450966493d319",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "d76820b10e59c45f",
        "type": "debug",
        "z": "538450966493d319",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "a14710bfbcdc5bc8",
        "type": "http in",
        "z": "538450966493d319",
        "name": "",
        "url": "/flwsb-api/v1/query",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "caf94a20ca0190f0",
        "type": "http in",
        "z": "538450966493d319",
        "name": "",
        "url": "/flwsb-api/v1/annotations",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0a45a981da22ce1e",
        "type": "http in",
        "z": "538450966493d319",
        "name": "",
        "url": "/flwsb-api/v1/tag-keys",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "1f4d3c8419022305",
        "type": "http in",
        "z": "538450966493d319",
        "name": "",
        "url": "/flwsb-api/v1/tag-values",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e3d4feb7ecdbec33",
        "type": "http in",
        "z": "538450966493d319",
        "name": "",
        "url": "/flwsb-api/v1/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "d263442c71aaae6f"
            ]
        ]
    },
    {
        "id": "d263442c71aaae6f",
        "type": "mongodb in",
        "z": "538450966493d319",
        "mongodb": "e4102cbc620b75cf",
        "name": "",
        "collection": "inject-test",
        "operation": "find",
        "x": 440,
        "y": 680,
        "wires": [
            [
                "ba607d38f3def63f"
            ]
        ]
    },
    {
        "id": "ba607d38f3def63f",
        "type": "function",
        "z": "538450966493d319",
        "name": "",
        "func": "var data = msg.payload\nvar latest = msg.payload[data.length-1]\nmsg.payload = latest\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 680,
        "wires": [
            [
                "394101e4c9f3de0e",
                "43a3909449e5228c"
            ]
        ]
    },
    {
        "id": "394101e4c9f3de0e",
        "type": "http response",
        "z": "538450966493d319",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 680,
        "wires": []
    },
    {
        "id": "43a3909449e5228c",
        "type": "debug",
        "z": "538450966493d319",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 740,
        "wires": []
    },
    {
        "id": "46dba0479947ec39",
        "type": "debug",
        "z": "538450966493d319",
        "name": "request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "49a54f77.b8319",
        "type": "function",
        "z": "340899c6.d3b816",
        "name": "set payload and headers",
        "func": "msg.headers = {};\nmsg.headers['x-api-key'] = 'xxx';\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "dec76f59.1b076"
            ]
        ]
    },
    {
        "id": "32f4730e.9bad8c",
        "type": "inject",
        "z": "340899c6.d3b816",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "49a54f77.b8319"
            ]
        ]
    },
    {
        "id": "404fc276.fd378c",
        "type": "debug",
        "z": "340899c6.d3b816",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "dec76f59.1b076",
        "type": "http request",
        "z": "340899c6.d3b816",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "/v1/customer",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 100,
        "wires": [
            [
                "404fc276.fd378c"
            ]
        ]
    },
    {
        "id": "e3e4522e.1c1bb",
        "type": "inject",
        "z": "1b74f3faa1d61e81",
        "name": "Tick every 5 secs",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "topic": "test",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "45dbf990.ba2408"
            ]
        ]
    },
    {
        "id": "50da04b3.af25fc",
        "type": "websocket out",
        "z": "1b74f3faa1d61e81",
        "name": "",
        "server": "985ecbc7.67a138",
        "client": "",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "42a28745.bd5d78",
        "type": "http response",
        "z": "1b74f3faa1d61e81",
        "name": "",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "1787be40.e87842",
        "type": "http in",
        "z": "1b74f3faa1d61e81",
        "name": "",
        "url": "/simple",
        "method": "get",
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "1857548e.e7a8ab"
            ]
        ]
    },
    {
        "id": "1857548e.e7a8ab",
        "type": "template",
        "z": "1b74f3faa1d61e81",
        "name": "Simple Web Page",
        "field": "payload",
        "format": "html",
        "template": "<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "42a28745.bd5d78"
            ]
        ]
    },
    {
        "id": "45dbf990.ba2408",
        "type": "function",
        "z": "1b74f3faa1d61e81",
        "name": "format time nicely",
        "func": "msg.payload = Date(msg.payload).toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "50da04b3.af25fc"
            ]
        ]
    },
    {
        "id": "eccc8bc2.133378",
        "type": "websocket in",
        "z": "1b74f3faa1d61e81",
        "name": "",
        "server": "985ecbc7.67a138",
        "client": "",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "9adfff59.652"
            ]
        ]
    },
    {
        "id": "9adfff59.652",
        "type": "debug",
        "z": "1b74f3faa1d61e81",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "31d60fdf4847c847",
        "type": "mqtt in",
        "z": "7e3ea74ffe02df56",
        "name": "baavend-mqtt",
        "topic": "weather-station",
        "qos": "2",
        "datatype": "json",
        "broker": "6bb176ae02eba776",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "f4634bc8b714d725",
                "1a102bad93d78dae"
            ]
        ]
    },
    {
        "id": "f4634bc8b714d725",
        "type": "debug",
        "z": "7e3ea74ffe02df56",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "1a102bad93d78dae",
        "type": "function",
        "z": "7e3ea74ffe02df56",
        "name": "Data Formatting",
        "func": "/*var data = \n{\n    id: msg.payload.end_device_ids.device_id,\n\tname: \"Node 1\",\n\tdatetime: msg.payload.received_at,\n\tlatitude: msg.payload.uplink_message.locations[\"frm-payload\"].latitude,\n\tlongitude: msg.payload.uplink_message.locations[\"frm-payload\"].longitude\n}\ndata = Object.assign(data, msg.payload.uplink_message.decoded_payload);\n\nmsg = data;*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "ab6465c889d0d2d6",
                "5fdf34eb8a810d3a"
            ]
        ]
    },
    {
        "id": "ab6465c889d0d2d6",
        "type": "debug",
        "z": "7e3ea74ffe02df56",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "5fdf34eb8a810d3a",
        "type": "influxdb batch",
        "z": "7e3ea74ffe02df56",
        "influxdb": "f8d7a87b47e3f24c",
        "precision": "",
        "retentionPolicy": "",
        "name": "baavend-time-db, org: AP, bucket: flwsb",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "flwsb",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "ccd90bc36d1b3954",
        "type": "ui_form",
        "z": "25e707b9e505301b",
        "name": "Board reg",
        "label": "",
        "group": "7b635a347ea0d3df",
        "order": 0,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Board ID (eui)",
                "value": "board_id",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Board Name",
                "value": "board_name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Location latitude",
                "value": "latitude",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Location longitude",
                "value": "longitude",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "board_id": "",
            "board_name": "",
            "latitude": "",
            "longitude": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic=board",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "c1aa9da22ce27c6c",
                "a1defd5febc4e068"
            ]
        ]
    },
    {
        "id": "a1defd5febc4e068",
        "type": "function",
        "z": "25e707b9e505301b",
        "name": "Data Formatting Board reg",
        "func": "var form = msg.payload\n\nmsg.payload = [\n    {\n        board_name: form.board_name,\n        latitude: form.latitude,\n        longitude: form.longitude,\n        time: new Date()\n    },\n    {\n        board_id: form.board_id,\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 80,
        "wires": [
            [
                "44cb586a79c70d1f",
                "67c30780c95cd428"
            ]
        ]
    },
    {
        "id": "c1aa9da22ce27c6c",
        "type": "debug",
        "z": "25e707b9e505301b",
        "name": "Debug Board reg Form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "44cb586a79c70d1f",
        "type": "debug",
        "z": "25e707b9e505301b",
        "name": "Debug InfluxDb push",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "cc16f6d578b580a7",
        "type": "ui_form",
        "z": "25e707b9e505301b",
        "name": "Sensor reg",
        "label": "",
        "group": "9c83ea62b28f11e0",
        "order": 0,
        "width": "6",
        "height": "12",
        "options": [
            {
                "label": "Board ID (eui)",
                "value": "board_id",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Sensor ID (I2C addrs)",
                "value": "sensor_id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Sensor Name",
                "value": "sensor_name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "The number of measurements",
                "value": "nr_of_measurements",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Quantity(-ies)",
                "value": "quantity",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Unit(s)",
                "value": "unit",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Range",
                "value": "range",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Conversion(s)",
                "value": "conversion",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Datatype(s)",
                "value": "datatype",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "board_id": "",
            "sensor_id": "",
            "sensor_name": "",
            "nr_of_measurements": "",
            "quantity": "",
            "unit": "",
            "range": "",
            "conversion": "",
            "datatype": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic=sensor",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "dd241544415aafb5",
                "a8b8745a5f2b3318"
            ]
        ]
    },
    {
        "id": "dd241544415aafb5",
        "type": "debug",
        "z": "25e707b9e505301b",
        "name": "Debug Sensor reg Form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "a8b8745a5f2b3318",
        "type": "function",
        "z": "25e707b9e505301b",
        "name": "Data Formatting Sensor reg",
        "func": "var form = msg.payload\n\nmsg.payload = [\n    {\n        sensor_name: form.sensor_name,\n        nr_of_measurements: form.nr_of_measurements,\n        quantity: form.quantity,\n        unit: form.unit,\n        range: form.range,\n        conversion: form.conversion,\n        datatype: form.datatype,\n        time: new Date()\n    },\n    {\n        board_id: form.board_id,\n        sensor_id: form.sensor_id,\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "3f647c19c2397fd3",
                "a529335b10433a8c"
            ]
        ]
    },
    {
        "id": "e306839c70afbf24",
        "type": "ui_form",
        "z": "25e707b9e505301b",
        "name": "Weather Station reg",
        "label": "",
        "group": "1937d022fe7753c7",
        "order": 0,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Weather Station ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Weather Station Name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Location latitude",
                "value": "latitude",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Location longitude",
                "value": "longitude",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "name": "",
            "latitude": "",
            "longitude": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic=weather-station",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "75e44dba2fca0734",
                "49693f99badfb191"
            ]
        ]
    },
    {
        "id": "49693f99badfb191",
        "type": "function",
        "z": "25e707b9e505301b",
        "name": "Data Formatting Weather Station reg",
        "func": "var form = msg.payload\n\nmsg.payload = [\n    {\n        name: form.name,\n        latitude: form.latitude,\n        longitude: form.longitude,\n        time: new Date()\n    },\n    {\n        id: form.id,\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 320,
        "wires": [
            [
                "48d4513b80d4c204",
                "d69d675ca82f9f8e"
            ]
        ]
    },
    {
        "id": "75e44dba2fca0734",
        "type": "debug",
        "z": "25e707b9e505301b",
        "name": "Debug Board reg Form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "67c30780c95cd428",
        "type": "influxdb out",
        "z": "25e707b9e505301b",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "InfluxDb: baavend-db, org: AP, bucket: sis, measurement: board",
        "measurement": "board",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "sis",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "3f647c19c2397fd3",
        "type": "influxdb out",
        "z": "25e707b9e505301b",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "InfluxDb: baavend-db, org: AP, bucket: sis, measurement: sensor",
        "measurement": "sensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "sis",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "a529335b10433a8c",
        "type": "debug",
        "z": "25e707b9e505301b",
        "name": "Debug InfluxDb push",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "48d4513b80d4c204",
        "type": "influxdb out",
        "z": "25e707b9e505301b",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "InfluxDb: baavend-db, org: AP, bucket: sis, measurement: weather-station",
        "measurement": "weather-station",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "sis",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "d69d675ca82f9f8e",
        "type": "debug",
        "z": "25e707b9e505301b",
        "name": "Debug InfluxDb push",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "7ea46e9fe05546e0",
        "type": "comment",
        "z": "25e707b9e505301b",
        "name": "Step 1. Web Forms",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "fdfdfcce630fcdf8",
        "type": "comment",
        "z": "25e707b9e505301b",
        "name": "Step 2. Data Formatting",
        "info": "",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "913a82269e5b6e95",
        "type": "comment",
        "z": "25e707b9e505301b",
        "name": "Step 3. Push to InfluxDb database",
        "info": "",
        "x": 760,
        "y": 40,
        "wires": []
    },
    {
        "id": "369ec68f45aa0285",
        "type": "mqtt in",
        "z": "9727c038192957b1",
        "name": "",
        "topic": "v3/node-red-test-zanzibar/devices/eui-0004a30b0020da72",
        "qos": "2",
        "datatype": "json",
        "broker": "c589162d2aafde08",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "37ad4db926520507",
                "7a5515aac94d63c6"
            ]
        ]
    },
    {
        "id": "37ad4db926520507",
        "type": "debug",
        "z": "9727c038192957b1",
        "name": "Debug TTN msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "7a5515aac94d63c6",
        "type": "function",
        "z": "9727c038192957b1",
        "name": "Data Formatting",
        "func": "let id = msg.payload.end_device_ids.device_id;\n//var location = msg.payload.locations.frm_payload;\nlet timestamp = new Date(msg.payload.received_at);  // timestamp TTN\n\nfunction base64ToArrayBuffer(value) {\n\tvar load = value.replace(/\\s+/g, '');  // remove any whitespace\n\tvalue = Buffer.from(load, 'base64');\n\treturn value;\n}\n\nlet bitstream = base64ToArrayBuffer(msg.payload.uplink_message.frm_payload);\nnode.warn(bitstream);\n\nmsg.payload = [\n\t[{\n\t\ttemp: +(((((bitstream[1] << 8) + bitstream[2])/100)-40).toFixed(2)),\n\t\tpressure: ((bitstream[3] << 8) + bitstream[4]),\n\t\thumidity: bitstream[5],\n\t\ttime: timestamp\n\t},\n\t{\n\t\tboard_id: id,  // device-id TTN en SIS\n\t\tsensor: \"BME280\"\n\t}],\n\n\t[{\n\t\t//latitude: location.latitude,  // TTN device location latitude\n\t\t//longitude: location.longitude,  // TTN device location longitude\n\t\tconsumed_airtime: +(msg.payload.uplink_message.consumed_airtime.slice(0, -1)), // remove \"s\" and convert to number\n\t\ttime: timestamp\n\t},\n\t{\n\t\tboard_id: id  // device-id TTN en SIS\n\t}]\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 200,
        "wires": [
            [
                "b86504729b55bd04",
                "01d3ae8df075f3a4"
            ]
        ]
    },
    {
        "id": "b86504729b55bd04",
        "type": "influxdb out",
        "z": "9727c038192957b1",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "InfluxDb: baavend-db, org: AP, bucket: flwsb, measurement: climate_data",
        "measurement": "climate_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "flwsb",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "01d3ae8df075f3a4",
        "type": "debug",
        "z": "9727c038192957b1",
        "name": "Debug InfluxDb push",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.0.0",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 240,
        "wires": []
    },
    {
        "id": "e43a83af44b2ab6c",
        "type": "inject",
        "z": "9727c038192957b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "8ada2a42c4a9aa9d"
            ]
        ]
    },
    {
        "id": "8ada2a42c4a9aa9d",
        "type": "function",
        "z": "9727c038192957b1",
        "name": "Fields and Tags example",
        "func": "msg.payload = [{\n    intValue: '10i',\n    numValue: 12,\n    randomValue: Math.random()*10,\n    strValue: \"message2\"\n},\n{\n    tag1:\"board1\",\n    tag2:\"bme280\"\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "a720c5b96d54ae7a"
            ]
        ]
    },
    {
        "id": "45c14ac54bef40dd",
        "type": "influxdb batch",
        "z": "9727c038192957b1",
        "influxdb": "f8d7a87b47e3f24c",
        "precision": "",
        "retentionPolicy": "",
        "name": "baavend-time-db, org: AP, bucket: test-bacth",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "test",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "a74671afcc687cc3",
        "type": "inject",
        "z": "9727c038192957b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "effedde68a221325"
            ]
        ]
    },
    {
        "id": "effedde68a221325",
        "type": "function",
        "z": "9727c038192957b1",
        "name": "Batch example",
        "func": "msg.payload = [\n    {\n        measurement: \"weather_sensor\",\n        fields: {\n            temp: 5.5,\n            light: 678,\n            humidity: 51\n        },\n        tags: {\n            location: \"garden\"\n        },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"alarm_sensor\",\n        fields: {\n            proximity: 999,\n            temp: 19.5\n        },\n        tags: {\n            location: \"home\"\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "45c14ac54bef40dd",
                "b318c9150f0dbd03"
            ]
        ]
    },
    {
        "id": "a720c5b96d54ae7a",
        "type": "influxdb out",
        "z": "9727c038192957b1",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "baavend-time-db, org: AP, bucket: test",
        "measurement": "test",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "test",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "test",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "184aa7da251f172e",
        "type": "comment",
        "z": "9727c038192957b1",
        "name": "Step 1. TTN MQTT msg",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "2c0c1f4a4751d267",
        "type": "comment",
        "z": "9727c038192957b1",
        "name": "Step 2. Data Formatting + Push to database",
        "info": "",
        "x": 210,
        "y": 160,
        "wires": []
    },
    {
        "id": "8ec56f0b7d272e0e",
        "type": "comment",
        "z": "9727c038192957b1",
        "name": "Testing",
        "info": "",
        "x": 90,
        "y": 400,
        "wires": []
    },
    {
        "id": "b318c9150f0dbd03",
        "type": "debug",
        "z": "9727c038192957b1",
        "name": "Debug batch example",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "151fd00d431caa29",
        "type": "mqtt in",
        "z": "d03d06af82d1718e",
        "name": "",
        "topic": "v3/flwsb@ttn/devices/eui-0004a30b0020da72/up",
        "qos": "2",
        "datatype": "json",
        "broker": "c589162d2aafde08",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "92881eec98883254",
                "cdc3c5d562e15d6c"
            ]
        ]
    },
    {
        "id": "92881eec98883254",
        "type": "debug",
        "z": "d03d06af82d1718e",
        "name": "Debug TTN msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "9e22e33786704205",
        "type": "function",
        "z": "d03d06af82d1718e",
        "name": "Data Formatting",
        "func": "const ttn = msg.payload[0]; // TTN MQTT msg\nconst sis = msg.payload[1]; // SIS query result msg\n\n// ID & Timestamp from TTN msg\nconst id = ttn.end_device_ids.device_id;\nconst timestamp = new Date(ttn.received_at);  // timestamp TTN\n\n// Board info from SIS query\nconst board_name = (sis.find(obj => obj._field == \"board_name\"))[\"_value\"];\nconst latitude = (sis.find(obj => obj._field == \"latitude\"))[\"_value\"];\nconst longitude = (sis.find(obj => obj._field == \"longitude\"))[\"_value\"];\n// node.warn(`location: ${latitude}, ${longitude}`);  // Debug info\n\n// Bitstream\nfunction base64ToArrayBuffer(value) {\n\tvar load = value.replace(/\\s+/g, '');  // remove any whitespace\n\tvalue = Buffer.from(load, 'base64');\n\treturn value;\n}\n\nconst bitstream = base64ToArrayBuffer(ttn.uplink_message.frm_payload);\nnode.warn(bitstream); // Debug info\n\n// Sensor ID\nconst sensor_id = bitstream[0]; // Only for signle byte ID's\nnode.warn(`sensor_id: ${sensor_id}`); // Debug info\n\n// Sensor info from SIS query by Sensor ID\nconst sensor_name = (sis.find(obj => obj._field == \"sensor_name\" && obj.sensor_id == sensor_id))[\"_value\"];\nconst nr_of_measurements = (sis.find(obj => obj._field == \"nr_of_measurements\" && obj.sensor_id == sensor_id))[\"_value\"];\nconst datatype = (sis.find(obj => obj._field == \"datatype\" && obj.sensor_id == sensor_id))[\"_value\"];\nconst quantity = (sis.find(obj => obj._field == \"quantity\" && obj.sensor_id == sensor_id))[\"_value\"];\nconst conversion = (sis.find(obj => obj._field == \"conversion\" && obj.sensor_id == sensor_id))[\"_value\"];\n\n// Formatting the payload for InfluxDb push\nmsg.payload = [\n\t[{\n\t\tlatitude: latitude,\n\t\tlongitude: longitude,\n\t\tconsumed_airtime: +(ttn.uplink_message.consumed_airtime.slice(0, -1)), // remove \"s\" and convert to number\n\t\ttime: timestamp\n\t},\n\t{\n\t\tboard_id: id,  // device-id TTN en SIS\n\t\tboard_name: board_name,\n\t}]\n];\n\nlet sensor_data = [\n\t{\n\t\t// temp: ((((bitstream[1] << 8) + bitstream[2]) / 100) - 40),\n\t\t// pressure: ((bitstream[3] << 8) + bitstream[4]),\n\t\t// humidity: bitstream[5],\n\t\ttime: timestamp\n\t},\n\t{\n\t\tboard_id: id,  // device-id TTN en SIS\n\t\tsensor_id: sensor_id,\n\t\tsensor_name: sensor_name,\n\t}\n];\n\nif (nr_of_measurements > 1) {\n\t// Sensor info for multiple measurements to Arrays\n\tconst quantities = quantity.split(\", \");\n\tnode.warn(`quantities: ${quantities}`); // Debug info\n\tconst conversions = conversion.split(\", \");\n\tnode.warn(`conversions: ${conversions}`); // Debug info\n\tconst datatypes = datatype.split(\", \");\n\tnode.warn(`datatypes: ${datatypes}`); // Debug info\n\n\t// Define iteration length\n\tlet length = nr_of_measurements;\n\tfor (let i = 1; i < length; i++) { // Skip the first byte(s) of the bitstream, the sensor_id.\n\t\tnode.warn(datatypes[i]);\n\t\tif (!(datatypes[i] == \"byte\")) {\n\t\t\tlength++;\n\t\t}\n\t}\n\tnode.warn(`length: ${length}`); // Debug info\n\n\t// Values array\n\tlet values = [];\n\tfor (let i = 1; i < length; i++) { // Skip the first byte(s) of the bitstream, the sensor_id.\n\t\tnode.warn(datatypes[i]);\n\t\tif (datatypes[i] == \"byte\") {\n\t\t\tvalues[i] = bitstream[i];\n\t\t}\n\t\telse {\n\t\t\tvalues.push((bitstream[i] << 8) + bitstream[i + 1]);\n\t\t\ti++;\n\t\t}\n\t}\n\n\t// Quantities and Measurement data to key value pairs\n\tfor (let i = 0; i < nr_of_measurements; i++) {\n\t\tsensor_data[0][`${quantities[i]}`] = values[i];\n\t}\n\n\t//sensor_data[0][\"test\"] = ((bitstream[3] << 8) + bitstream[4]),\n}\nelse {\n\tif (datatype == \"byte\") {\n\t\tsensor_data[0][`${quantity}`] = bitstream[1];\n\t}\n\telse {\n\t\tsensor_data[0][`${quantity}`] = (bitstream[1] << 8) + bitstream[2];\n\t}\n}\n\nnode.warn(sensor_data[0]); // Debug info\nmsg.payload.push(sensor_data);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 420,
        "wires": [
            [
                "5a8f248d95079cb4",
                "669fad0bd9c4421b"
            ]
        ]
    },
    {
        "id": "df0dd691c566d163",
        "type": "influxdb out",
        "z": "d03d06af82d1718e",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "InfluxDb: baavend-db, org: AP, bucket: flwsb, measurement: climate_data",
        "measurement": "climate_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "flwsb",
        "x": 780,
        "y": 420,
        "wires": []
    },
    {
        "id": "5a8f248d95079cb4",
        "type": "debug",
        "z": "d03d06af82d1718e",
        "name": "Debug measurements only",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.0.0",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "f02008c5b16c8c19",
        "type": "influxdb in",
        "z": "d03d06af82d1718e",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "AP",
        "x": 420,
        "y": 260,
        "wires": [
            [
                "772f38a4b942238b",
                "36f87558b5d885e0"
            ]
        ]
    },
    {
        "id": "154876db86b6a254",
        "type": "function",
        "z": "d03d06af82d1718e",
        "name": "InfluxDb Query",
        "func": "const board_id = msg.payload.end_device_ids.device_id;\n\n// Flux query\nmsg.query = `from(bucket: \"sis\")\n  |> range(start: -100y, stop: now())\n  |> filter(fn: (r) => r[\"_measurement\"] == \"sensor\" or r[\"_measurement\"] == \"board\")\n  |> filter(fn: (r) => r[\"board_id\"] == \"${board_id}\")\n  |> filter(fn: (r) => r[\"_field\"] == \"board_name\" or r[\"_field\"] == \"latitude\" or r[\"_field\"] == \"longitude\" or r[\"_field\"] == \"conversion\" or r[\"_field\"] == \"nr_of_measurements\" or r[\"_field\"] == \"quantity\" or r[\"_field\"] == \"sensor_name\" or r[\"_field\"] == \"datatype\")\n  |> aggregateWindow(every: 1y, fn: last, createEmpty: false)\n  |> yield(name: \"last\")`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 260,
        "wires": [
            [
                "f02008c5b16c8c19"
            ]
        ]
    },
    {
        "id": "772f38a4b942238b",
        "type": "debug",
        "z": "d03d06af82d1718e",
        "name": "Debug InfluxDb Query result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "60a094c65b3b90a7",
        "type": "inject",
        "z": "d03d06af82d1718e",
        "name": "Inject TTN test data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"@type\":\"type.googleapis.com/ttn.lorawan.v3.ApplicationUp\",\"end_device_ids\":{\"device_id\":\"eui-0004a30b0020da72\",\"application_ids\":{\"application_id\":\"flwsb\"},\"dev_eui\":\"0004A30B0020DA72\",\"join_eui\":\"0004A30B0020DA72\",\"dev_addr\":\"260B386C\"},\"correlation_ids\":[\"as:up:01GMZYQEFJ9WFPS1RANANBJK6A\",\"ns:uplink:01GMZYQE8VDPC2WR4K8R9C359Q\",\"pba:conn:up:01GM367NPGXHWVSHN6JFKFKPVR\",\"pba:uplink:01GMZYQE8RVEDGBZC7S9ZJ7RJZ\",\"rpc:/ttn.lorawan.v3.GsNs/HandleUplink:01GMZYQE8VN437T3PHHFFF16ZN\",\"rpc:/ttn.lorawan.v3.NsAs/HandleUplink:01GMZYQEFH6D3MQKT445TBD0ET\"],\"received_at\":\"2022-12-23T16:58:11.314080290Z\",\"uplink_message\":{\"session_key_id\":\"AYU/6AGa+vh+WfbYP5XQGA==\",\"f_port\":1,\"f_cnt\":33,\"frm_payload\":\"CBfUA+kw\",\"decoded_payload\":{\"bytes\":[8,23,212,3,233,48]},\"rx_metadata\":[{\"gateway_ids\":{\"gateway_id\":\"packetbroker\"},\"packet_broker\":{\"message_id\":\"01GMZYQE8RVEDGBZC7S9ZJ7RJZ\",\"forwarder_net_id\":\"000013\",\"forwarder_tenant_id\":\"ttnv2\",\"forwarder_cluster_id\":\"ttn-v2-legacy-eu\",\"forwarder_gateway_eui\":\"7276FF0000062E94\",\"forwarder_gateway_id\":\"eui-7276ff0000062e94\",\"home_network_net_id\":\"000013\",\"home_network_tenant_id\":\"ttn\",\"home_network_cluster_id\":\"eu1.cloud.thethings.network\"},\"time\":\"2022-12-23T16:58:09.998443Z\",\"fine_timestamp\":\"955291031\",\"rssi\":-111,\"signal_rssi\":-113,\"channel_rssi\":-111,\"snr\":1,\"frequency_offset\":\"4464\",\"location\":{\"latitude\":51.22994085,\"longitude\":4.41383496,\"altitude\":30},\"uplink_token\":\"eyJnIjoiWlhsS2FHSkhZMmxQYVVwQ1RWUkpORkl3VGs1VE1XTnBURU5LYkdKdFRXbFBhVXBDVFZSSk5GSXdUazVKYVhkcFlWaFphVTlwU25Oa2F6RkRWakJzYWxJelNtOVBWVnBMVFRJMWRFbHBkMmxrUjBadVNXcHZhVmRYZUZkV1ZGRXlVWHBWTVZKck1IUlZVekV3WWxjMVdFMVhiRmxSVTBvNUxqUlRUMWg1YkU1R01HZG5Ra1EwVnpsTmF6WnJUMEV1TVdnMU9IaGtjMWRNVjFNNU5FSmhTQzVVTW5ONFIxSllWMmxwWlV4NVZYaGpaMGs0UVZSaU9HbFZORGhaZWt4UGNWbEVaRlY2Tlc5SGVrSnBMVU5rYXpJMGRGQkxaVVpMYWpVMWRXNU5Tbk14UTBOd2NpMVRkbTFoT0Y5SGRFTmxTVXRIUzBWNFR6Rm9jMlExVTBoT05HTm1UV3BOV2xFNE5tZGlWRE4zUkZWSWFWTndlazQyYlZkclgyZzFaak5ZUkVablQzVXpUWFZaYlRKMlVqWTNkSEV0UXpBMFNVUnplVFZ5VkVrd1NtdGlWM0JxVkd4RFIwZE1iRnBZZW1OVkxrTklhMVk0V0hCbGRHcEJTa1JpVFRGaVJsaFpSbEU9IiwiYSI6eyJmbmlkIjoiMDAwMDEzIiwiZnRpZCI6InR0bnYyIiwiZmNpZCI6InR0bi12Mi1sZWdhY3ktZXUifX0=\",\"received_at\":\"2022-12-23T16:58:11.093770044Z\"},{\"gateway_ids\":{\"gateway_id\":\"packetbroker\"},\"packet_broker\":{\"message_id\":\"01GMZYQE8RVEDGBZC7S9ZJ7RJZ\",\"forwarder_net_id\":\"000013\",\"forwarder_tenant_id\":\"ttnv2\",\"forwarder_cluster_id\":\"ttn-v2-legacy-eu\",\"forwarder_gateway_eui\":\"7276FF0000062E94\",\"forwarder_gateway_id\":\"eui-7276ff0000062e94\",\"home_network_net_id\":\"000013\",\"home_network_tenant_id\":\"ttn\",\"home_network_cluster_id\":\"eu1.cloud.thethings.network\"},\"antenna_index\":1,\"time\":\"2022-12-23T16:58:09.998443Z\",\"rssi\":-112,\"signal_rssi\":-117,\"channel_rssi\":-112,\"rssi_standard_deviation\":1,\"snr\":-4,\"frequency_offset\":\"4457\",\"uplink_token\":\"eyJnIjoiWlhsS2FHSkhZMmxQYVVwQ1RWUkpORkl3VGs1VE1XTnBURU5LYkdKdFRXbFBhVXBDVFZSSk5GSXdUazVKYVhkcFlWaFphVTlwU25Oa2F6RkRWakJzYWxJelNtOVBWVnBMVFRJMWRFbHBkMmxrUjBadVNXcHZhVmRYZUZkV1ZGRXlVWHBWTVZKck1IUlZVekV3WWxjMVdFMVhiRmxSVTBvNUxqUlRUMWg1YkU1R01HZG5Ra1EwVnpsTmF6WnJUMEV1TVdnMU9IaGtjMWRNVjFNNU5FSmhTQzVVTW5ONFIxSllWMmxwWlV4NVZYaGpaMGs0UVZSaU9HbFZORGhaZWt4UGNWbEVaRlY2Tlc5SGVrSnBMVU5rYXpJMGRGQkxaVVpMYWpVMWRXNU5Tbk14UTBOd2NpMVRkbTFoT0Y5SGRFTmxTVXRIUzBWNFR6Rm9jMlExVTBoT05HTm1UV3BOV2xFNE5tZGlWRE4zUkZWSWFWTndlazQyYlZkclgyZzFaak5ZUkVablQzVXpUWFZaYlRKMlVqWTNkSEV0UXpBMFNVUnplVFZ5VkVrd1NtdGlWM0JxVkd4RFIwZE1iRnBZZW1OVkxrTklhMVk0V0hCbGRHcEJTa1JpVFRGaVJsaFpSbEU9IiwiYSI6eyJmbmlkIjoiMDAwMDEzIiwiZnRpZCI6InR0bnYyIiwiZmNpZCI6InR0bi12Mi1sZWdhY3ktZXUifX0=\",\"received_at\":\"2022-12-23T16:58:11.093770044Z\"}],\"settings\":{\"data_rate\":{\"lora\":{\"bandwidth\":125000,\"spreading_factor\":7,\"coding_rate\":\"4/5\"}},\"frequency\":\"867100000\"},\"received_at\":\"2022-12-23T16:58:11.099382830Z\",\"consumed_airtime\":\"0.051456s\",\"network_ids\":{\"net_id\":\"000013\",\"tenant_id\":\"ttn\",\"cluster_id\":\"eu1\",\"cluster_address\":\"eu1.cloud.thethings.network\"}}}",
        "payloadType": "json",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "cdc3c5d562e15d6c",
                "92881eec98883254"
            ]
        ]
    },
    {
        "id": "078945e4506a75ad",
        "type": "join",
        "z": "d03d06af82d1718e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "e8d41a31d60b8008",
                "9e22e33786704205"
            ]
        ]
    },
    {
        "id": "e8d41a31d60b8008",
        "type": "debug",
        "z": "d03d06af82d1718e",
        "name": "Debug Join result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "cdc3c5d562e15d6c",
        "type": "link out",
        "z": "d03d06af82d1718e",
        "name": "[ttn-sis-flwsb] TTN msg out",
        "mode": "link",
        "links": [
            "51924ef22e27d5eb",
            "d50fffa2683b20be"
        ],
        "x": 475,
        "y": 80,
        "wires": []
    },
    {
        "id": "51924ef22e27d5eb",
        "type": "link in",
        "z": "d03d06af82d1718e",
        "name": "[ttn-sis-flwsb] TTN msg in Query",
        "links": [
            "cdc3c5d562e15d6c"
        ],
        "x": 75,
        "y": 260,
        "wires": [
            [
                "154876db86b6a254"
            ]
        ]
    },
    {
        "id": "d50fffa2683b20be",
        "type": "link in",
        "z": "d03d06af82d1718e",
        "name": "[ttn-sis-flwsb] TTN msg in Join",
        "links": [
            "cdc3c5d562e15d6c"
        ],
        "x": 75,
        "y": 420,
        "wires": [
            [
                "078945e4506a75ad"
            ]
        ]
    },
    {
        "id": "36f87558b5d885e0",
        "type": "link out",
        "z": "d03d06af82d1718e",
        "name": "[ttn-sis-flwsb] Query msg out",
        "mode": "link",
        "links": [
            "0db883d0340e27a7"
        ],
        "x": 575,
        "y": 260,
        "wires": []
    },
    {
        "id": "0db883d0340e27a7",
        "type": "link in",
        "z": "d03d06af82d1718e",
        "name": "[ttn-sis-flwsb] Query msg in",
        "links": [
            "36f87558b5d885e0"
        ],
        "x": 75,
        "y": 460,
        "wires": [
            [
                "078945e4506a75ad"
            ]
        ]
    },
    {
        "id": "90010826df190d03",
        "type": "comment",
        "z": "d03d06af82d1718e",
        "name": "Step 1. TTN MQTT msg",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "13295339c56a8b2f",
        "type": "comment",
        "z": "d03d06af82d1718e",
        "name": "Step 2. Query SIS from database",
        "info": "",
        "x": 170,
        "y": 220,
        "wires": []
    },
    {
        "id": "5f22a9b13079c98d",
        "type": "comment",
        "z": "d03d06af82d1718e",
        "name": "Step 3. Join MQTT and Query result msg's + Data Formatting + Push to database",
        "info": "",
        "x": 320,
        "y": 380,
        "wires": []
    },
    {
        "id": "eb1568ccbbd672c3",
        "type": "comment",
        "z": "d03d06af82d1718e",
        "name": "Improvements",
        "info": "Now each node added to the TTN application needs to be manually added with a MQTT node.\nThis is due to how the TTN topics work.\nThere needs to be a way to improve this or automating the process.",
        "x": 110,
        "y": 620,
        "wires": []
    },
    {
        "id": "669fad0bd9c4421b",
        "type": "debug",
        "z": "d03d06af82d1718e",
        "name": "Debug InfluxDb push",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "444481b2f8b4208a",
        "type": "mqtt in",
        "z": "b227e0fee3f5b4d0",
        "name": "baavend-mqtt, topic: weatherStation",
        "topic": "weatherStation",
        "qos": "0",
        "datatype": "json",
        "broker": "6bb176ae02eba776",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "1aa38e0ae89987cf",
                "804c0682b9eb29e2"
            ]
        ]
    },
    {
        "id": "1aa38e0ae89987cf",
        "type": "debug",
        "z": "b227e0fee3f5b4d0",
        "name": "Debuq MQTT msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "9c9dcd373144581e",
        "type": "function",
        "z": "b227e0fee3f5b4d0",
        "name": "Data Formatting",
        "func": "let mqtt = msg.payload[0];\nlet sis = msg.payload[1];\n\n//let source_id = (sis.find(obj => obj.id == mqtt.id))[\"_value\"];\n\nmsg.payload = [\n\t{\n\t\ttemp: mqtt.temperature_C,          // buiten temperatuur, C, float\n\t\thumidity: mqtt.humidity,           // buiten luchtvochtigheid, %, int\n\t\twind_speed: mqtt.wind_avg_m_s,     // windsnelheid, m/s, float\n\t\twind_gust: mqtt.wind_max_m_s,      // windsnelheid, m/s, float\n\t\twind_direction: mqtt.wind_dir_deg, // windrichting, hoek in graden , int\n\t\train: mqtt.rain_mm,                // neerslag, mm/10min, float\n\t\ttime: new Date(mqtt.time)\t\t  // timestamp, YYYY-MM-DD hh:mm:ss\n\t},\n\t{\n\t\t//source: source_id\n\t\tsource: mqtt._value\n\t}];\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 420,
        "wires": [
            [
                "f39da89dc495cbd7",
                "70a20184c3e8dcce"
            ]
        ]
    },
    {
        "id": "f39da89dc495cbd7",
        "type": "debug",
        "z": "b227e0fee3f5b4d0",
        "name": "Debug InfluxDb push",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "70a20184c3e8dcce",
        "type": "influxdb out",
        "z": "b227e0fee3f5b4d0",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "",
        "measurement": "weather_station",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "flwsb",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "7d776f0ca267b117",
        "type": "influxdb in",
        "z": "b227e0fee3f5b4d0",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "AP",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "86aa701fd2bfa92f",
                "d1c855beceadb3b7"
            ]
        ]
    },
    {
        "id": "530341daaed9075a",
        "type": "function",
        "z": "b227e0fee3f5b4d0",
        "name": "InfluxDb Query",
        "func": "msg.query = `from(bucket: \"sis\")\n  |> range(start: -100y, stop: now()) \n  |> filter(fn: (r) => r[\"_measurement\"] == \"weather-station\") \n  |> filter(fn: (r) => r[\"_field\"] == \"name\")\n  |> aggregateWindow(every: 1y, fn: last, createEmpty: false)\n  |> yield(name: \"last\")`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 240,
        "wires": [
            [
                "7d776f0ca267b117"
            ]
        ]
    },
    {
        "id": "86aa701fd2bfa92f",
        "type": "debug",
        "z": "b227e0fee3f5b4d0",
        "name": "Debug InfluxDb Query result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "d3d6e247cfe87b75",
        "type": "inject",
        "z": "b227e0fee3f5b4d0",
        "name": "Test Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "530341daaed9075a"
            ]
        ]
    },
    {
        "id": "1ffb9ad0cb529c59",
        "type": "join",
        "z": "b227e0fee3f5b4d0",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "166339e2edd04e46",
                "9c9dcd373144581e",
                "c33b5be3c960d74d"
            ]
        ]
    },
    {
        "id": "166339e2edd04e46",
        "type": "debug",
        "z": "b227e0fee3f5b4d0",
        "name": "Debug Join result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "804c0682b9eb29e2",
        "type": "link out",
        "z": "b227e0fee3f5b4d0",
        "name": "[weather-station-sis] MQTT msg out",
        "mode": "link",
        "links": [
            "7be21cbd46c881bc",
            "5cbd5916c1774538"
        ],
        "x": 395,
        "y": 80,
        "wires": []
    },
    {
        "id": "5cbd5916c1774538",
        "type": "link in",
        "z": "b227e0fee3f5b4d0",
        "name": "[weather-station-sis] MQTT msg in Query",
        "links": [
            "804c0682b9eb29e2"
        ],
        "x": 75,
        "y": 240,
        "wires": [
            [
                "530341daaed9075a"
            ]
        ]
    },
    {
        "id": "7be21cbd46c881bc",
        "type": "link in",
        "z": "b227e0fee3f5b4d0",
        "name": "[weather-station-sis] MQTT msg in Join",
        "links": [
            "804c0682b9eb29e2"
        ],
        "x": 75,
        "y": 420,
        "wires": [
            [
                "1ffb9ad0cb529c59"
            ]
        ]
    },
    {
        "id": "d1c855beceadb3b7",
        "type": "link out",
        "z": "b227e0fee3f5b4d0",
        "name": "[weather-station-sis] Query msg out",
        "mode": "link",
        "links": [
            "e1ff895f8cd08df1"
        ],
        "x": 575,
        "y": 240,
        "wires": []
    },
    {
        "id": "e1ff895f8cd08df1",
        "type": "link in",
        "z": "b227e0fee3f5b4d0",
        "name": "[weather-station-sis] Query msg in",
        "links": [
            "d1c855beceadb3b7"
        ],
        "x": 75,
        "y": 460,
        "wires": [
            [
                "1ffb9ad0cb529c59"
            ]
        ]
    },
    {
        "id": "d058d7ddb4e206a9",
        "type": "comment",
        "z": "b227e0fee3f5b4d0",
        "name": "Improvements",
        "info": "Gather MQTT msg's over a certain time range.\nCalculate median, or just keep the last values.\nOnly push once every couple of minutes.\nFixes undefined values.",
        "x": 110,
        "y": 660,
        "wires": []
    },
    {
        "id": "0a0714ec288757d0",
        "type": "comment",
        "z": "b227e0fee3f5b4d0",
        "name": "Step 1. MQTT msg",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "d46ec1b7759f5b5b",
        "type": "comment",
        "z": "b227e0fee3f5b4d0",
        "name": "Step 2. Query SIS from database",
        "info": "",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "087d40ae4e5dcac1",
        "type": "comment",
        "z": "b227e0fee3f5b4d0",
        "name": "Step 3. Join MQTT and Query result msg's + Data Formatting + Push to database",
        "info": "",
        "x": 320,
        "y": 380,
        "wires": []
    },
    {
        "id": "c33b5be3c960d74d",
        "type": "debug",
        "z": "b227e0fee3f5b4d0",
        "name": "payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 560,
        "wires": []
    },
    {
        "id": "b8c112fa333ccf1b",
        "type": "mqtt in",
        "z": "8a1ef9f4c4972c91",
        "name": "baavend-mqtt, topic: weatherStation",
        "topic": "weatherStation",
        "qos": "0",
        "datatype": "json",
        "broker": "6bb176ae02eba776",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "0c3fd051bcf5df86",
                "7d4693a12b647da6"
            ]
        ]
    },
    {
        "id": "0c3fd051bcf5df86",
        "type": "debug",
        "z": "8a1ef9f4c4972c91",
        "name": "Debuq MQTT msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "7d4693a12b647da6",
        "type": "function",
        "z": "8a1ef9f4c4972c91",
        "name": "Data Formatting",
        "func": "var tmp = msg.payload;\n\nvar source_id = \"\";\nswitch (tmp.id) {\n\tcase 1920111513:\n\t\tsource_id = \"weather-station-1\"\n\t\tbreak;\n\tcase -1646443428:\n\t\tsource_id = \"weather-station-2\"\n\t\tbreak;\n\tdefault:\n\t\tsource_id = \"unknown\"\n}\n\nmsg.payload = [\n\t{\n\t\ttemp: tmp.temperature_C,          // buiten temperatuur, C, float\n\t\thumidity: tmp.humidity,           // buiten luchtvochtigheid, %, int\n\t\twind_speed: tmp.wind_avg_m_s,     // windsnelheid, m/s, float\n\t\twind_gust: tmp.wind_max_m_s,      // windsnelheid, m/s, float\n\t\twind_direction: tmp.wind_dir_deg, // windrichting, hoek in graden , int\n\t\train: tmp.rain_mm,                // neerslag, mm/10min, float\n\t\ttime: new Date(tmp.time)\t\t  // timestamp, YYYY-MM-DD hh:mm:ss\n\t},\n\t{\n\t\tsource: source_id\n\t}];\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 60,
        "wires": [
            [
                "bfc4860172aae5e5",
                "837e8040d6f5cfa7"
            ]
        ]
    },
    {
        "id": "bfc4860172aae5e5",
        "type": "debug",
        "z": "8a1ef9f4c4972c91",
        "name": "Debug InfluxDb push",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "380bf992f5fc3a9d",
        "type": "mqtt out",
        "z": "8a1ef9f4c4972c91",
        "name": "",
        "topic": "weatherStation",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bb176ae02eba776",
        "x": 520,
        "y": 380,
        "wires": []
    },
    {
        "id": "0f557c6c75082fd7",
        "type": "inject",
        "z": "8a1ef9f4c4972c91",
        "name": "test data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"time\": \"2022-12-16 14:38:01\",   \"time\": \"2022-12-16 14:38:13\",   \"model\": \"Bresser-6in1\",   \"id\": 102004230,   \"channel\": 0,   \"battery_ok\": 1,   \"temperature_C\": 22.9,   \"humidity\": 21,   \"sensor_type\": 1,   \"wind_max_m_s\": 0,   \"wind_avg_m_s\": 0,   \"wind_dir_deg\": 248,   \"rain_mm\": 15.6,   \"mic\": \"CRC\" }",
        "payloadType": "json",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "380bf992f5fc3a9d",
                "8dbb247940176f25"
            ]
        ]
    },
    {
        "id": "8dbb247940176f25",
        "type": "debug",
        "z": "8a1ef9f4c4972c91",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "837e8040d6f5cfa7",
        "type": "influxdb out",
        "z": "8a1ef9f4c4972c91",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "",
        "measurement": "weather_station",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "flwsb",
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "da5628c4bb5572e5",
        "type": "function",
        "z": "8a1ef9f4c4972c91",
        "name": "",
        "func": "function getRandomFloat(min, max, decimals) {\n    return parseFloat((Math.random() * (max - min) + min).toFixed(decimals));\n}\nfunction getRandomInt(min, max){\n    return Math.floor(Math.random() * max) + min;\n}\nfunction getRandomDate(startDate, endDate) {\n    const minValue = startDate.getTime();\n    const maxValue = endDate.getTime();\n    const timestamp = Math.floor(Math.random() * (maxValue - minValue + 1) + minValue);\n    return new Date(timestamp);\n}\n\n// var tmp = msg.payload\nmsg.payload = [\n    {\n        temp: getRandomFloat(-40, 60, 1),        // buiten temperatuur, C, float\n        humidity: getRandomInt(1, 99),           // buiten luchtvochtigheid, %, int\n        wind_speed: getRandomFloat(0, 50),       // windsnelheid, m/s, float\n        wind_gust: getRandomFloat(0, 50),        // windsnelheid, m/s, float\n        wind_direction: getRandomInt(0, 360),    // windrichting, hoek in graden , int\n        rain: getRandomFloat(0, 100),            // neerslag, mm/10min, float\n        time: getRandomDate(new Date(2022, 0, 1), new Date(2022, 11, 31)) // timestamp, YYYY-MM-DD hh:mm:ss\n        // time: new Date(2022, 1, 1, 1, 1, 1, 100)\n    },\n    {\n        source: \"weather-station-6\"\n    }];\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 560,
        "wires": [
            [
                "328cd8af2afede47"
            ]
        ]
    },
    {
        "id": "239f4525dc6fd0f2",
        "type": "inject",
        "z": "8a1ef9f4c4972c91",
        "name": "push to db",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 560,
        "wires": [
            [
                "da5628c4bb5572e5"
            ]
        ]
    },
    {
        "id": "328cd8af2afede47",
        "type": "influxdb out",
        "z": "8a1ef9f4c4972c91",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "",
        "measurement": "weather_station",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "flwsb",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "88ae5a3e6d231685",
        "type": "mqtt in",
        "z": "c49ca540c92aa535",
        "name": "",
        "topic": "$SYS/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6bb176ae02eba776",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "c2fc8856cfaa0efc",
                "6d8b2925746e4caa"
            ]
        ]
    },
    {
        "id": "c2fc8856cfaa0efc",
        "type": "debug",
        "z": "c49ca540c92aa535",
        "name": "Debug MQTT msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "6d8b2925746e4caa",
        "type": "function",
        "z": "c49ca540c92aa535",
        "name": "Data Formatting",
        "func": "var topic = msg.topic;\nvar value = msg.payload;\nvar value_topic = topic.substring(5).replaceAll(\"/\", \"_\");\n\nswitch (topic) {\n\tcase \"$SYS/broker/uptime\":\n\t\tmsg.payload = [\n\t\t\t{\n\t\t\t\tbroker_uptime: +(value.slice(0, -8)), // remove \" seconds\"\n\t\t\t\ttime: new Date()\n\t\t\t},\n\t\t\t{\n\t\t\t\ttopic: topic\n\t\t\t}\n\t\t];\n\t\tbreak;\n\tdefault:\n\t\tmsg.payload = [\n\t\t\t{\n\t\t\t\t[value_topic]: value,\n\t\t\t\ttime: new Date()\n\t\t\t},\n\t\t\t{\n\t\t\t\ttopic: topic\n\t\t\t}\n\t\t];\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            [
                "b2f963cb2e58fab4",
                "d1e1a67d1f92a9b3"
            ]
        ]
    },
    {
        "id": "f96ff8ca4b68c5b6",
        "type": "debug",
        "z": "c49ca540c92aa535",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 400,
        "wires": []
    },
    {
        "id": "8ea026f529ab5ed1",
        "type": "join",
        "z": "c49ca540c92aa535",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "38",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "f96ff8ca4b68c5b6"
            ]
        ]
    },
    {
        "id": "4aee54704ea53a48",
        "type": "influxdb batch",
        "z": "c49ca540c92aa535",
        "influxdb": "f8d7a87b47e3f24c",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "mqtt-logging",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "b2f963cb2e58fab4",
        "type": "debug",
        "z": "c49ca540c92aa535",
        "name": "Debug msg.payload.0",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.0",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "aee0c123fa1e3de2",
        "type": "function",
        "z": "c49ca540c92aa535",
        "name": "function 1",
        "func": "var tmp = msg;\nif (tmp.topic == \"$SYS/broker/uptime\")\n{\n    msg.payload = +(tmp.payload.slice(0, -8));\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 340,
        "wires": [
            [
                "8ea026f529ab5ed1"
            ]
        ]
    },
    {
        "id": "d1e1a67d1f92a9b3",
        "type": "influxdb out",
        "z": "c49ca540c92aa535",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "",
        "measurement": "log",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP",
        "bucket": "mqtt-logging",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "ac4d6e45b0044daf",
        "type": "comment",
        "z": "c49ca540c92aa535",
        "name": "Step 1. MQTT msg",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "ab50765e930df2c2",
        "type": "comment",
        "z": "c49ca540c92aa535",
        "name": "Step 2. Data Formatting + Push to database",
        "info": "",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "2904bfefe6e4a7ee",
        "type": "comment",
        "z": "c49ca540c92aa535",
        "name": "Testing",
        "info": "",
        "x": 90,
        "y": 300,
        "wires": []
    }
]